// Brand-colors
$blue-normal: #2dc7ed;
$blue-dark: #15aed4;
$blue-light: #4ddcff;

// Neutral-colors
$black-normal: #0d0e10;
$black-dark: #050607;
$black-light: #15171a;

$white-normal: #f5f7f7;
$white-dark: #edeff0;
$white-light: #fafcfc;

// Gray Scale
$gray-1: #3e3f40;
$gray-2: #4e4e50;
$gray-3: #5d5e60;
$gray-4: #6d6e70;
$gray-5: #7c7d80;
$gray-6: #8d8e90;
$gray-7: #a5a6a8;

.color-blue {
  color: $blue-normal;
}
