h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Poppins", sans-serif;
}

a {
  font-family: "Poppins", sans-serif;
}

input {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

h2 {
  font-size: 2.2rem;
  font-weight: 300;
}

h3 {
  font-size: 1.8rem;
  font-weight: 300;
}

h4 {
  font-size: 1.25rem;
  font-weight: 300;
}

h5 {
  font-weight: 300;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $blue-light;
}

h6 {
  font-size: 0.75rem;
}

p {
  font-family: "Poppins", sans-serif;
  color: $gray-6;
}
