.footer-mid {
  width: 100%;
}

.footer-left {
  gap: 8rem;
  height: 100%;
}

.footer-mid-mid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-last {
  width: 100%;
}

.footer-icons {
  width: 20%;

  img {
    cursor: pointer;
  }
}

.footer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-mid-right {
  max-width: 488px;
  width: 100%;
  height: 100%;

  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
